<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.dao.EmpDao">

    <!--使用缓存-->
    <cache type="com.xiaohe.cache.RedisCache"/>

    <insert id="save" parameterType="com.xiaohe.entity.Emp" useGeneratedKeys="true" keyProperty="id">
        insert into t_emp values (#{id},#{name},#{path},#{salary},#{age})
    </insert>
    <update id="update">
        update t_emp set name=#{name},salary=#{salary},age=#{age} where id =#{id}
    </update>
    <delete id="delete" parameterType="string">
        delete from t_emp where id=#{id}
    </delete>


    <select id="findAll" resultType="com.xiaohe.entity.Emp">
        select id,name,path,salary,age from t_emp;
    </select>
    <select id="findOne" resultType="com.xiaohe.entity.Emp" parameterType="string">
        select id,name,path,salary,age from t_emp where id=#{id};
    </select>
</mapper>